.footers {
	background-color: #171617;
	color: white;
/*	max-height: 80px;*/
}

a.button-link:link {
	text-decoration: none;
	color: #ffffff;
}

a.button-link:visited {
	text-decoration: none;
	color: #ffffff;
}
a.button-link:hover {
	text-decoration: none;
	color: #ffffff;
}
a.button-link:active {
	text-decoration: none;
	color: #ffffff;
}

.banner {
	height: 50px;
}